.inputContainer {
  margin: 0 auto;
  padding-left: 55px;
  width: 42%;
  text-align: left;
  font-size: 24px;
}

.input {
  display: flex;
  flex-direction: row;
}

.inputContainer input {
  margin-bottom: 10px;
  display: block;
  width: calc(100% - 55px);
  height: 40px;
  border-color: black;
  font-size: 20px;
}

.inputContainer input:focus {
  outline: none;
}

.btn {
  width: 45px;
  height: 45px;
  display: flex;
  background-color: white;
  border: none;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  cursor: pointer;
}