.sidebar {
  width: 200px;
  background-color: black;
  color: aliceblue;
  text-align: center;
}

.sidebar button {
  background-color: black;
  color: aliceblue;
  border: none;
}

.sidebar button:hover {
  cursor: pointer;
}

.sidebarTitle {
  margin-top: 30px;
  text-align: center;
  font-size: 20px;
}

.sidebarSearchInput{
  margin-bottom: 30px;
  text-align: center;
}

.sidebarPartsOfSpeech {
  padding-top: 10px;
  width: 50%;
  margin: 0 auto;
  text-align: left;
}

.errorMessage {
  color: red;
}
