.posContainer{
    width: 70%;
    margin: 30px auto;
    text-align: left;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
}

.posTitle {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

